@model AprajitaRetails.Areas.Purchase.Models.ProductPurchase

@{
    ViewData["Title"] = "Create";
}



<h4>ProductPurchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InWardNo" class="control-label"></label>
                <input asp-for="InWardNo" class="form-control" />
                <span asp-validation-for="InWardNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InWardDate" class="control-label"></label>
                <input asp-for="InWardDate" class="form-control" />
                <span asp-validation-for="InWardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNo" class="control-label"></label>
                <input asp-for="InvoiceNo" class="form-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQty" class="control-label"></label>
                <input asp-for="TotalQty" class="form-control" />
                <span asp-validation-for="TotalQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBasicAmount" class="control-label"></label>
                <input asp-for="TotalBasicAmount" class="form-control" />
                <span asp-validation-for="TotalBasicAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingCost" class="control-label"></label>
                <input asp-for="ShippingCost" class="form-control" />
                <span asp-validation-for="ShippingCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTax" class="control-label"></label>
                <input asp-for="TotalTax" class="form-control" />
                <span asp-validation-for="TotalTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierID" class="control-label"></label>
                <select asp-for="SupplierID" class ="form-control" asp-items="ViewBag.SupplierID"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaid" /> @Html.DisplayNameFor(model => model.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-amber" />
            </div>
        </form>
    </div>
</div>

<div>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
