@model AprajitaRetails.Models.CashReceipt

@{
    ViewData["Title"] = "Edit";
}

<h4>Cash Receipt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CashReceiptId" />
            <div class="form-group">
                <label asp-for="InwardDate" class="control-label"></label>
                <input asp-for="InwardDate" class="form-control" />
                <span asp-validation-for="InwardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranscationModeId" class="control-label"></label>
                <select asp-for="TranscationModeId" class="form-control" asp-items="ViewBag.TranscationModeId"></select>
                <span asp-validation-for="TranscationModeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiptFrom" class="control-label"></label>
                <input asp-for="ReceiptFrom" class="form-control" />
                <span asp-validation-for="ReceiptFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SlipNo" class="control-label"></label>
                <input asp-for="SlipNo" class="form-control" />
                <span asp-validation-for="SlipNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-amber" />
            </div>
        </form>
    </div>
</div>

@*<div>
   <a  class="btn btn-primary btn-sm" asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
