@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to StoneWorks</h1>
    <h3> Stone Crusher Management Software <br /> for <br /><strong>PeriPlex</strong> Real Estate & Land Developers Pvt. Ltd.</h3>
   
</div>
