<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" />
    <title>@ViewData["Title"] - Aprajita Retails</title>
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm   navbar-toggleable-sm navbar-dark   default-color lighten-4 border-bottom box-shadow mb-1">
            <div class="container-fluid">
                <a class="navbar-brand text-danger  text-monospace" asp-area="" asp-controller="Home" asp-action="Index">Aprajita Retails</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-dark" asp-area="Sales" asp-controller="DailySales" asp-action="Index">DailySale</a></li>
                        <!-- Ported Menu-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>

                            <div class="dropdown-menu " aria-labelledby="dropdown01">
                                <a class="dropdown-item" text-dark" asp-area="Accounts" asp-controller="Parties" asp-action="Index">Parties</a>
                                <a class="dropdown-item" text-dark" asp-area="Accounts" asp-controller="LedgerEntries" asp-action="Index">LedgerEntries</a>
                                <a class="dropdown-item" text-dark" asp-area="Accounts" asp-controller="PurchaseTaxTypes" asp-action="Index">Input Tax</a>
                                <a class="dropdown-item" text-dark" asp-area="Accounts" asp-controller="SaleTaxTypes" asp-action="Index">OutTax</a>
                            </div>

                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sale/Purchase</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="ProductPurchases" asp-action="Index">ProductPurchases</a>
                                <a class="dropdown-item text-dark" asp-area="Purchase" asp-controller="ProductItems" asp-action="Index">ProductItems</a>
                                <a class="dropdown-item text-dark" asp-area="Stock" asp-controller="Stocks" asp-action="Index">Stocks</a>

                            </div>
                        </li>
                        <!--Porting toBeDone-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tailoring</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TalioringBookings" asp-action="Index">Bookings</a>
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TalioringDeliveries" asp-action="Index">Delivery</a>
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringSalaryPayments" asp-action="Index">Salary</a>
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringEmployees" asp-action="Index">Tailors</a>
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailorAttendances" asp-action="Index">Attendances</a>

                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringStaffAdvancePayments" asp-action="Index">Advance Payments</a>
                                <a class="dropdown-item text-dark" asp-area="Tailoring" asp-controller="TailoringStaffAdvanceReceipts" asp-action="Index">Advance Receipts</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Banking</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankDeposits" asp-action="Index">Bank Deposits</a>
                                <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="AccountNumbers" asp-action="Index">Accounts</a>
                                <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="ChequesLogs" asp-action="Index">Cheques</a>
                                <a class="dropdown-item text-dark" asp-area="Banking" asp-controller="BankWithdrawals" asp-action="Index">Bank Withdrawals</a>

                            </div>
                        </li>
                        <!--New To Added-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PayRoll</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">

                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="Employees" asp-action="Index">Employees</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="Attendances" asp-action="Index">Attendances</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="SalaryPayments" asp-action="Index">Salary</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="StaffAdvancePayments" asp-action="Index">Advance Payments</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="StaffAdvanceReceipts" asp-action="Index">Advance Receipts</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="CurrentSalaries" asp-action="Index">Current Salary</a>
                                <a class="dropdown-item text-dark" asp-area="PayRoll" asp-controller="PaySlips" asp-action="Index">PaySlip</a>


                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cash In/Out</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="Expenses" asp-action="Index">Expenses</a>
                                <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="PettyCashExpenses" asp-action="Index">Cash Expenses</a>
                                <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="CashPayments" asp-action="Index">Cash Payments</a>
                                <a class="dropdown-item text-dark" asp-area="Expenses" asp-controller="Payments" asp-action="Index">Payments</a>
                                <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashReceipts" asp-action="Index">Cash Receipts</a>
                                <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="Receipts" asp-action="Index">Receipts</a>
                                <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="DueRecoverds" asp-action="Index">DueRecoverds</a>
                                

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administration</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Stores" asp-action="Index">Stores</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                                <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="SuspenseAccounts" asp-action="Index">SuspenseAccounts</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="EndOfDays" asp-action="Create">EndOfDays</a>
                                <a class="dropdown-item text-dark" asp-area="Accounts" asp-controller="CashBook" asp-action="Index">CashBook</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Imports</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="ExcelUploader" asp-action="Index">ExcelUploader</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="SalesUploader" asp-action="Index">SalesUploader</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="SalesUploader" asp-action="SaleList">SalesUploader</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="PurchaseUploader" asp-action="Index">PurchaseUploader</a>
                                
                                <a class="dropdown-item text-dark " asp-area="Voyager" asp-controller="PurchaseUploader" asp-action="ListUpLoad">Purchase List</a>
                                
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="ImportInWards" asp-action="Index">ImportInWards</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="ImportPurchases" asp-action="Index">ImportPurchases</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="ImportSaleItemWises" asp-action="Index">ImportSaleItemWises</a>
                                <a class="dropdown-item text-dark" asp-area="Voyager" asp-controller="ImportSaleRegisters" asp-action="Index">ImportSaleRegisters</a>


                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Supports</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Chat">Chat</a>
                                <a class="dropdown-item text-success" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                                <a class="dropdown-item text-primary" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                                <a class="dropdown-item text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  font-small text-muted ">
        <div class="container">
            &copy; 2020 - Aprajita Retails - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
