<style>
    .sidebar-font {
        font-size: .875rem;
    }

    .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
    }
    /** Sidebar*/
    .sidebar {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 48px; /* Height of navbar */
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    .sidebar .nav-link {
        font-weight: 500;
        color: #333;
    }

        .sidebar .nav-link .feather {
            margin-right: 4px;
            color: #999;
        }

        .sidebar .nav-link.active {
            color: #007bff;
        }

            .sidebar .nav-link:hover .feather,
            .sidebar .nav-link.active .feather {
                color: inherit;
            }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }
    /** Navbar*/
    /*.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
        }*/
    /*.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
        }
        .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
        }
    .form-control-dark:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }*/
    /*
        * Utilities
        */
    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }
</style>


<nav class="col-md-2 d-none d-md-block bg-light sidebar " id="nav-side-bar">
    <div class="sidebar-sticky">
        
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link sidebar-font active " asp-area="Payroll" asp-controller="Employees" asp-action="Index">  <span data-feather="users"></span> Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="Sales" asp-controller="DailySales" asp-action="Index"><span data-feather="file"></span>Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="Purchase" asp-controller="ProductItems" asp-action="Index"><span data-feather="shopping-cart"></span>Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="Voyager" asp-controller="Customers" asp-action="Index"><span data-feather="users"></span>Customers</a>
            </li>

            <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class=" nav-link dropdown-toggle"> <span data-feather="star"></span>Reports</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <a asp-area="Reports" asp-controller="EmpAttReport" asp-action="Index" class="nav-link  sidebar-font"> <span data-feather="book-open"></span>Employee</a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="" asp-controller="" asp-action="Index"><span data-feather="layers"></span> Integrations</a>
            </li>
            <li class="nav-item">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class=" nav-link dropdown-toggle"> <span data-feather="star"></span>Tailoring</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li class="nav-item">
                        <a asp-area="Tailoring" asp-controller="TalioringBookings" asp-action="Index" class="nav-link  sidebar-font"> <span data-feather="book-open"></span>Booking</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Tailoring" asp-controller="TalioringDeliveries" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="shopping-cart"></span>Delivery</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Tailoring" asp-controller="TalioringBookings" asp-action="PendingBooking" class="nav-link sidebar-font"> <span data-feather="book"></span>Pending Booking</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <span data-feather="users"></span>Accounts</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="CashDetails" asp-area="" class="nav-link sidebar-font"> <span data-feather="book-open"></span>Cash Details</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Accounts" asp-controller="Receipts" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Receipts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Expenses" asp-controller="Payments" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Payments</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Expenses" asp-controller="Expenses" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Accounts" asp-controller="DuesLists" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="trello"></span>Due List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Expenses" asp-controller="ElectricityConnections" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Electricity Connection</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Expenses" asp-controller="EletricityBills" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Electricity Bill</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Expenses" asp-controller="RentedLocations" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Rent Location</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font active " asp-area="ToDo" asp-controller="Home" asp-action="Index">  <span data-feather="book-open"></span> Todo List</a>
            </li>
            <li class="nav-item">
                <a href="#utilSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <span data-feather="users"></span>Utility</a>
                <ul class="collapse list-unstyled" id="utilSubmenu">
                    <li class="nav-item">
                        <a asp-area="AddressBook" asp-action="Index" asp-controller="Contacts" class="nav-link sidebar-font"> <span data-feather="book-open"></span>Address Book</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#uploaderSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <span data-feather="upload-cloud"></span>Upload</a>
                <ul class="collapse list-unstyled" id="uploaderSubmenu">
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="ImportAddressBook" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="book-open"></span>Address Book</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="ImportAttendance" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Attendance</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="SalesUploader" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="shopping-cart"></span>Sales</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="PurchaseUploader" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="shopping-bag"></span>Purchase</a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="ImportBookEntry" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="book"></span>Book Entry</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="BankStatementUpload" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="book"></span>Bank Statement</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item">
                <a href="#importSubmenu" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <span data-feather="users"></span>Imports</a>
                <ul class="collapse list-unstyled" id="importSubmenu">
                    <li class="nav-item">
                        <a asp-area="Imported" asp-controller="ImportInWards" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="trello"></span>Import InWards</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Imported" asp-controller="ImportPurchases" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="trello"></span>Import Purchases</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Imported" asp-controller="ImportSaleItemWises" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="trello"></span>Import Sale ItemWises</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Imported" asp-controller="ImportSaleRegisters" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="trello"></span>Import Sale Registers</a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="PurchaseUploader" asp-action="ListUpLoad" class="nav-link sidebar-font"> <span data-feather="trello"></span>Purchase List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="SalesUploader" asp-action="SaleList" class="nav-link sidebar-font"> <span data-feather="trello"></span>Sale List</a>
                    </li>

                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="ImportBookEntry" asp-action="ListUpLoad" class="nav-link sidebar-font"> <span data-feather="trello"></span>Book Entry List</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Uploader" asp-controller="PurchaseUploader" asp-action="ViewList" class="nav-link sidebar-font"> <span data-feather="trello"></span>InvoiceSearch</a>
                    </li>
                </ul>
            </li>

        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" asp-area="" asp-controller="" asp-action="Index">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="" asp-controller="" asp-action="Index">
                    <span data-feather="file-text"></span>
                    Current Month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="" asp-controller="" asp-action="Index">
                    <span data-feather="file-text"></span>
                    Last Quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="" asp-controller="" asp-action="Index">
                    <span data-feather="file-text"></span>
                    Last Month
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-font" asp-area="" asp-controller="" asp-action="Index">
                    <span data-feather="file-text"></span>
                    Year-end Sale
                </a>
            </li>
            <li class="nav-item">
                <a href="#NewAcc" data-toggle="collapse" aria-expanded="false" class="nav-link dropdown-toggle"> <span data-feather="users"></span>Accountings</a>
                <ul class="collapse list-unstyled" id="NewAcc">

                    <li class="nav-item">
                        <a asp-area="Accountings" asp-controller="Receipts" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Receipts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Accountings" asp-controller="Payments" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Payments</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Accountings" asp-controller="Expenses" asp-action="Index" class="nav-link sidebar-font"> <span data-feather="check-square"></span>Expenses</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>
</nav>


<!--<form role="search" class="bd-search d-flex align-items-center">
    <input type="search" class="form-control" id="search-input" placeholder="Search..." aria-label="Search for..." autocomplete="off" data-docs-version="4.4">
    <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#nav-side-bar" aria-controls="nav-side-bar"
            aria-expanded="false" aria-label="Toggle docs navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"
             role="img" focusable="false">
            <title>Menu</title>
            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                  d="M4 7h22M4 15h22M4 23h22" />
        </svg>
    </button>
</form>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>-->
    @*<script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&placement=getbootstrapcom" id="_carbonads_js"></script>*@
<!--}-->

