@model AprajitaRetails.Models.TailoringSalaryPayment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TailoringSalaryPayment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TailoringEmployeeId" class="control-label"></label>
                <select asp-for="TailoringEmployeeId" class ="form-control" asp-items="ViewBag.TailoringEmployeeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SalaryMonth" class="control-label"></label>
                <input asp-for="SalaryMonth" class="form-control" />
                <span asp-validation-for="SalaryMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaryComponet" class="control-label"></label>
                <select asp-for="SalaryComponet" class="form-control"></select>
                <span asp-validation-for="SalaryComponet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMode" class="control-label"></label>
                <select asp-for="PayMode" class="form-control"></select>
                <span asp-validation-for="PayMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
   <a  class="btn btn-primary btn-sm" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
