@model AprajitaRetails.Models.BankDeposit

@{
    ViewData["Title"] = "Edit";
}



<h4>Bank Deposit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BankDepositId" />
            <div class="form-group">
                <label asp-for="DepoDate" class="control-label"></label>
                <input asp-for="DepoDate" class="form-control" />
                <span asp-validation-for="DepoDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountNumberId" class="control-label"></label>
                <select asp-for="AccountNumberId" class="form-control" asp-items="ViewBag.AccountNumberId"></select>
                <span asp-validation-for="AccountNumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMode" class="control-label"></label>
                <select asp-for="PayMode" class="form-control" asp-items="Html.GetEnumSelectList<BankPayModes>()"></select>
                <span asp-validation-for="PayMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input type="submit" value="Save" class="btn btn-outline-amber" />
            </div>
        </form>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
