@model AprajitaRetails.Areas.Sales.Models.SaleInvoice

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SaleInvoice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnDate" class="control-label"></label>
                <input asp-for="OnDate" class="form-control" />
                <span asp-validation-for="OnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvoiceNo" class="control-label"></label>
                <input asp-for="InvoiceNo" class="form-control" />
                <span asp-validation-for="InvoiceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalItems" class="control-label"></label>
                <input asp-for="TotalItems" class="form-control" />
                <span asp-validation-for="TotalItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalQty" class="control-label"></label>
                <input asp-for="TotalQty" class="form-control" />
                <span asp-validation-for="TotalQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalBillAmount" class="control-label"></label>
                <input asp-for="TotalBillAmount" class="form-control" />
                <span asp-validation-for="TotalBillAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalDiscountAmount" class="control-label"></label>
                <input asp-for="TotalDiscountAmount" class="form-control" />
                <span asp-validation-for="TotalDiscountAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoundOffAmount" class="control-label"></label>
                <input asp-for="RoundOffAmount" class="form-control" />
                <span asp-validation-for="RoundOffAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTaxAmount" class="control-label"></label>
                <input asp-for="TotalTaxAmount" class="form-control" />
                <span asp-validation-for="TotalTaxAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
