
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="border-danger text-success">
    @ViewBag.SuccessMsg
</div>
<div class="border-info text-danger">
    @ViewBag.ErrorMsg
</div>
