@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Aprajita Retails</h1>
    <p>We are building togethers.</p>
</div>
<div class="jumbotron text-right ">
    <h1 class="text-left display-4">The Arvind Store, Dumka</h1>
    <p class="lead text-success">Aprajita Retails Daily Store Management Software.</p>
    <p><a href="https://www.thearvindstore.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>