
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Advance Payment Mover to Salary Payement</h2>

<a class="btn btn-danger" asp-action="MoveData">Move</a>
